<footer class="bg-secondary-subtle container-fluid">
    <div class="container">
        <div class="row">
            <div class="col text-center" style="margin-top: 10px;">
                <h2>Wiredl4bs</h2>
                <span>Your favourite tech blog.<br>My socials:</span>
                <div>
                    <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="https://github.com/th3-m0th"><i class="nf nf-cod-github"></i></a>
                    <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="https://gitlab.com/th3-m0th"><i class="nf nf-fa-gitlab"></i></a>
                    <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="https://instagram.com/wiredl4bs"><i class="nf nf-fa-instagram"></i></a>
                </div><br>
            </div>
            <div class="col text-center" style="margin-top: 10px;">
                <h3>Enlaces:</h3>
                <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="<?php echo $URL;?>">Home</a><br>
                <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="<?php echo $URL . 'about-me';?>">About me</a><br>
                <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="<?php echo $URL . 'contact';?>">Contact</a><br>
                <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" href="<?php echo $URL . 'contact';?>">Posts</a><br>
            </div>
            <span class="text-center" style="padding-bottom: 5px; margin-top: 5px;">Wiredl4bs &copy; <?php echo date("Y");?></span>
        </div>
    </div>
</footer>