<?php
    $URL = "http://" . $_SERVER['HTTP_HOST'];;
?>
<nav class="nav justify-content-start bg-dark">
    <a class="nav-link active link-light" href="<?php echo $URL;?>"><i class="nf nf-md-web">&MediumSpace;</i>Wiredl4bs</a>
    <a title="Run 'Inicio'" class="nav-link active link-light" href="<?php echo $URL;?>"><i class="nf nf-cod-debug_start"></i></a>
    <a class="nav-link active link-light" href="<?php echo $URL . "/posts.php";?>">Posts</a>
    <a class="nav-link active link-light" href="<?php echo $URL . "/contact.php";?>">Contact</a>
    <a class="nav-link active link-light" href="<?php echo $URL . "/about-me.php";?>">About me</a>
</nav><br><br>